body {
  font-family: Helvetica;
  color: white;
  background-color: black;
}

.app {
  margin: 20px;
  display: flex;
  height: calc(100vh - 40px);
  .cities {
    width: 30%;
  }
  .active-city {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin-left: 20px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: auto;
    overflow: auto;
    h2 {
      margin-top: 0;
    }
    .img {
      float: right;
      height: auto;
    }
    img {
      max-width: 100%;
      margin: 5px;
    }
  }
}

.list-group-item {
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: scroll;
  .city {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 2px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    p {
      margin: 5px 0;
    }
    &:hover {
      border: 1px solid orangered;
    }
  }
  .selected {
    border: 1px solid orangered;
    background-color: orangered;
    color: black;
  }
}
